@appbar_sz_top: 48px;
@appbar_sz_bottom: 38px;
@appbar_sz_padding: 8px;
appbar {
    position: absolute;
    display: inline-flex;
    height: @appbar_sz_top; width: 100%;
    padding: 0; margin: 0;
    flex: 1 1 auto;
    z-index: 10;
}

.appbar-header {
    height: @appbar_sz_top;
    top: 0;
}

.appbar-footer {
    height: @appbar_sz_bottom;
    bottom: 0;
}

.appbar-icon {
    width: @appbar_sz_bottom;
    height: @appbar_sz_bottom;
    font-size: @appbar_sz_bottom;
    flex: 1 1 auto;
    cursor: pointer;
}

#appbar-input {
    flex: 1 1 100%;
    border: 0px;
    outline: none;
    padding: 0px 8px;
}

#appbar-menu-content {
    order: 0;
    flex-basis: 320px;
    height: 100%;
    ul {
        list-style-type: none;
        user-select: none;
        width: 100%; height: 100%;
        padding: 0; margin: 0;
        display: flex;
        flex-direction: column;
        li {
            width: 100%; height: @appbar_sz_bottom;
            cursor: pointer;
        }
    }
}

#appbar-menu { .appbar-icon() }
#appbar-switchprovider { .appbar-icon() }
#appbar-sendmessage { .appbar-icon() }
#appbar-attachment { .appbar-icon() }
#appbar-search-icon {
    .appbar-icon();
    padding: @appbar_sz_padding / 2;
    width: @appbar_sz_top - @appbar_sz_padding;
    height: @appbar_sz_top - @appbar_sz_padding;
    font-size: @appbar_sz_top - @appbar_sz_padding;
}

#appbar-search {
    flex: 1 1 100%;
    padding: 0px 8px;
    margin-left: @appbar_sz_padding;
    height: @appbar_sz_top;
    border: 0px;
    transition: background-color 0.4s ease-in-out;
}
