// Appbar
.appbar-chat {
    background-color: @color_primary;
    .materialShadow();
}

.appbar-sidebar {
    background-color: @color_primary - #111;
    .materialShadow();
}

#appbar-menu-content {
    background-color: @color_primary - #222;
    ul {
        li { background-color: #333; }
        li:hover {background-color: #444;}
    }
}

#appbar-search {
    background-color: @color_primary - #111;
    outline: none;
    color: white;
}
#appbar-search:focus {
    background-color: @color_primary - #222;
}
#appbar-search::placeholder {
    color: #F9F9F9;
}
