@textcolor: white;

@color_primary: #1996ee;
@color_secondary #2BB7FE;
@color_compliment: #ed541c;

@color_background: #222222;
@color_background_alt: #f2f2f2;


@conversation_color: #444;
@text-conversation-name-size: 1.5em;
@text-conversation-blurb-size: 1em;

.materialShadow() {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
    color: @textcolor;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

sidebar {
    background-color: @color_background;
}

chat {
    background-color: @color_background_alt;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 1em;
}

@import "appbar";
@import "chat";
@import "dialog";
